.listbox-head {
   font-size: 12pt;
}

.login-pane-light {
  // background-image: linear-gradient(lightblue, pink);
  // background-image: url("file:///home/trevorw/Downloads/background.jpg");
  background-image: url("https://res.cloudinary.com/dhqvlsb3l/image/upload/f_auto,q_auto:best/v1/assets/na/teasers/founders-double-desk.jpg");
  background-size: 100% 100%;
}

.login-pane-dark {
  background-image: linear-gradient(darkblue, darkred);
}

.login-frame {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.login-frame-dark {
  background-color: #000;
}

.login-frame-light {
  background-color: #fff;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.password-invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}

.calendar-light > grid > label.day-number:not(.other-month):checked {
   background-color: rgba(173, 216, 230, 0.5);
}

.calendar-dark > grid > label.day-number:not(.other-month):checked {
   background-color: rgba(173, 216, 230, 0.2);
}

.statistics-padding {
  padding: 5px;
}
